 <!-- ===============MAIN BANNER START ============ -->
 <section class="minibanner" style="background-image: url('assets/images/min-banner.jpg');">
    <div class="container">
    <div class="row">
       <div class="col-md-12 col-sm-12 col-12">
          <div class="MiniBannerDiv" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
             <div class="MiniBannerContent">
                <hr class="BeforeHr">
                <h5>About Us</h5>
                <hr class="afterforeHr">
             </div>
          </div>
       </div>
    </div>
   </div>
 </section>
 <!-- =====contact banner Section======= -->
 <!-- =====about Section======= -->
 <div class="ours_srevicess">
    <div class="container">
       <div class="row">
          <div class="col-sm-6 col-xs-12">
             <div class="ours_imgs2">
                <img src="assets/images/about-1.jpg" class="img-responsive">
             </div>
          </div>
          <div class="col-sm-6 col-xs-12">
             <div class="ours_imgscnts">
                <div class="tp_headerss">
                   <h6>Mr. Gourav Manjrekar</h6>
                   <h3>Founder </h3>
                   <div class="myln"></div>
                </div>
                <div class="my_dtImgs">
                   <p>Mr. Gourav Manjrekar is the Founder of BeingGourav.com and is looking forward to provide the best IT experience to its students, users, and clients. He has expertise in the field of Statistics, Mathematics, and Operations Research. He is facilitated with 2 Gold Medals in M.SC (Statistics) in 2011 from DAVV, Indore. He has teaching experience of more than 10 years and has been a resource person in various Workshops and Seminars. At present students are also taking advantage of best learning experience from  his Youtube Channel and other Social Media platforms.</p>
                </div>
             </div>
          </div>
       </div>
       <hr/>
       <div class="row">
          <div class="col-sm-6 col-xs-12">
             <div class="ours_imgscnts">
                <div class="tp_headerss">
                   <h6>Mr. Swapnil Girase</h6>
                   <h3>Co-Founder </h3>
                   <div class="myln"></div>
                </div>
                <div class="my_dtImgs">
                   <p>Mr. Swapnil Girase is the Co-founder of BeingGourav.com, a young entrepreneur from Indore whose mission is to provide quality Web and Software Development solutions in this competitive fierce marketplace.  He has more than 4 years of experience in the IT industry while working as an SAP Consultant along with R/3 and R/2 architecture. He completed his Masters in Computer Applications (MCA) in 2016 from RGPV and at present is all set to make BeingGourav.com a leading organization and provide the best services to its students, users, and clients.</p>
                </div>
             </div>
          </div>
          <div class="col-sm-6 col-xs-12">
             <div class="ours_imgs2">
                <img src="assets/images/about-2.jpg" class="img-responsive">
             </div>
          </div>
       </div>
       <hr/>
       <div class="row">
          <div class="col-sm-6 col-xs-12">
             <div class="ours_imgs2">
                <img src="assets/images/about-1.jpg" class="img-responsive">
             </div>
          </div>
          <div class="col-sm-6 col-xs-12">
             <div class="ours_imgscnts">
                <div class="tp_headerss">
                   <h6>Mr. Anil Kumar</h6>
                   <h3>Co-Founder </h3>
                   <div class="myln"></div>
                </div>
                <div class="my_dtImgs">
                   <p>Mr. Anil Kumar is Co-founder of BeingGourav.com. He has his excellence in IT Services and directs all the development projects that are instrumental in driving benefits to the firm. He has more than 4 years of experience in his field and is a Full Stack Developer. He has commendable knowledge of computer languages, Backend, Databases, Front-End, Ui/UX etc. At present he is exercising his skills in PYTHON DJANGO, VUEJS, PHOTOSHOP, MONGODB and many such programs and languages.</p>
                </div>
             </div>
          </div>
       </div>
       <hr/>
    </div>
 </div>
 <!--  ============FOUNDER SECTION END========== -->
 <section class="OurTeam">
   <div class="container">
      <div class="headein_top headingCenter text-center">
         <h2>Our <span> Team</span></h2>
         <!--  <p>Just fill, we will contact you</p> -->
      </div>
      <div class="MainTeam">
         <div class="owl-carousel owl-theme TeamSlider">
            <div class="item myTeamItem">
               <div class="row">
                  <div class="col-md-12">
                     <div class="my_prd_images">
                        <div class="my_sd_Imgs">
                           <img src="assets/images/team-member-01.jpg" class="img-responsive">
                           <div class="my_TImg">
                              <h6><a href="#">Kemel D. Dimola</a></h6>
                              <h2>Lorem Ipsum Doller</h2>
                              <ul>
                                 <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                 <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                 <li><a href="#"><i class="fa fa-envelope-o"></i></a></li>
                                 <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!--  ==========COLUMN FOUR END======= -->
               </div>
            </div>
            <!-- ========ITEM END====== -->
            <div class="item myTeamItem">
               <div class="row">
                  <div class="col-md-12">
                     <div class="my_prd_images">
                        <div class="my_sd_Imgs">
                           <img src="assets/images/team-member-04.jpg" class="img-responsive">
                           <div class="my_TImg">
                              <h6><a href="#">Kemel D. Dimola</a></h6>
                              <h2>Lorem Ipsum Doller</h2>
                              <ul>
                                 <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                 <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                 <li><a href="#"><i class="fa fa-envelope-o"></i></a></li>
                                 <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!--  ==========COLUMN FOUR END======= -->
               </div>
            </div>
            <!-- ========ITEM END====== -->
         </div>
      </div>
   </div>
</section>
