  <!-- ===============MAIN BANNER START ============ -->
  <section class="minibanner" style="background-image: url('assets/images/min-banner.jpg');">
    <div class="container">
       <div class="row">
          <div class="col-md-12 col-sm-12 col-12">
            <div class="MiniBannerDiv" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
             <div class="MiniBannerContent">
                <hr class="BeforeHr">
                <h5>Video</h5>
                <hr class="afterforeHr">                   
             </div>
          </div>
        </div>
       </div>
    </div>
 </section>
<!-- =====contact banner Section======= -->

<section class="TopThreeSection ThreeContPage TopVIdeoBox mrT70" style="background: url(assets/images/welcome-icon-bg-3.png);">

<div class="container">
<div class="TopThree">
 <div class="row">
   <div class="col-md-4 col-sm-4 col-12">
     <div class="TopThreeBox" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-duration="1500">
       <div class="TopImg ContIcon">
         <i class="fa fa-map-marker" aria-hidden="true"></i>
       </div>

        <div class="TopImgContent" >
        <h3>Web Design</h3>
        <span></span>
        <p>Aenean lacinia bibendum nulla sed consectetur. Integer posuere era.</p>
        <a (click)="videomain()" class="ReadMoreBanner " id="videomainhover">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
       </div>
     </div>
   </div>
   <!-- ========FIRST END========= -->
           <div class="col-md-4 col-sm-4 col-12">
     <div class="TopThreeBox" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-duration="2000">
       <div class="TopImg ContIcon">
        <i class="fa fa-phone-square" aria-hidden="true"></i>
       </div>

        <div class="TopImgContent CNumber">
        <h3>Web Devlopment</h3>
        <span></span>
        <p>Aenean lacinia bibendum nulla sed consectetur. Integer posuere era.</p>
        <a  (click)="videomain()" class="ReadMoreBanner" id="videomainhover">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>          
        
       </div>
     </div>
   </div>
   <!-- ========SECOND END========= -->
    <div class="col-md-4 col-sm-4 col-12">
     <div class="TopThreeBox" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-duration="2500">
       <div class="TopImg ContIcon">
       <i class="fa fa-envelope" aria-hidden="true"></i>
       </div>

        <div class="TopImgContent CNumber">
        <h3>Networking</h3>
        <span></span>
        <p>Aenean lacinia bibendum nulla sed consectetur. Integer posuere era.</p>
        <a (click)="videomain()" class="ReadMoreBanner" id="videomainhover">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        
       </div>
     </div>
   </div>
   <!-- ========THIRD END========= -->

  <div class="col-md-4 col-sm-4 col-12">
     <div class="TopThreeBox" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-duration="2000">
       <div class="TopImg ContIcon">
        <i class="fa fa-phone-square" aria-hidden="true"></i>
       </div>

        <div class="TopImgContent CNumber">
        <h3>Web Devlopment</h3>
        <span></span>
        <p>Aenean lacinia bibendum nulla sed consectetur. Integer posuere era.</p>
        <a (click)="videomain()" class="ReadMoreBanner" id="videomainhover">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>          
        
       </div>
     </div>
   </div>
   <!-- ========Forth END========= -->
    <div class="col-md-4 col-sm-4 col-12">
     <div class="TopThreeBox" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-duration="2500">
       <div class="TopImg ContIcon">
       <i class="fa fa-envelope" aria-hidden="true"></i>
       </div>

        <div class="TopImgContent CNumber">
        <h3>Networking</h3>
        <span></span>
        <p>Aenean lacinia bibendum nulla sed consectetur. Integer posuere era.</p>
        <a (click)="videomain()" class="ReadMoreBanner" id="videomainhover">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        
       </div>
     </div>
   </div>
   <!-- ========Fifth END========= -->

    <div class="col-md-4 col-sm-4 col-12">
     <div class="TopThreeBox" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-duration="2500">
       <div class="TopImg ContIcon">
       <i class="fa fa-envelope" aria-hidden="true"></i>
       </div>

        <div class="TopImgContent CNumber">
        <h3>Networking</h3>
        <span></span>
        <p>Aenean lacinia bibendum nulla sed consectetur. Integer posuere era.</p>
        <a (click)="videomain()" class="ReadMoreBanner" id="videomainhover">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        
       </div>
     </div>
   </div>
   <!-- ========SIx END========= -->

  <div class="col-md-4 col-sm-4 col-12">
     <div class="TopThreeBox" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-duration="2000">
       <div class="TopImg ContIcon">
        <i class="fa fa-phone-square" aria-hidden="true"></i>
       </div>

        <div class="TopImgContent CNumber">
        <h3>Web Devlopment</h3>
        <span></span>
        <p>Aenean lacinia bibendum nulla sed consectetur. Integer posuere era.</p>
        <a (click)="videomain()" class="ReadMoreBanner" id="videomainhover">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>          
        
       </div>
     </div>
   </div>
   <!-- ========SEven END========= -->
    <div class="col-md-4 col-sm-4 col-12">
     <div class="TopThreeBox" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-duration="2500">
       <div class="TopImg ContIcon">
       <i class="fa fa-envelope" aria-hidden="true"></i>
       </div>

        <div class="TopImgContent CNumber">
        <h3>Networking</h3>
        <span></span>
        <p>Aenean lacinia bibendum nulla sed consectetur. Integer posuere era.</p>
        <a (click)="videomain()" class="ReadMoreBanner" id="videomainhover">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        
       </div>
     </div>
   </div>
   <!-- ========Eight END========= -->
 </div>
 <div class="VideoLoad">
   <div class="row justify-content-center">
     <div class="col-md-3 col-sm-3 col-12">
       
       <a href="#" class="ReadMoreBanner">Load More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
     </div>
   </div>
 </div>
</div>
</div>
</section>
