<!-- =====Get in touch Section======= -->
<section class="LoginSection mrT70" style="background: url(assets/images/welcome-icon-bg-3.png);">
    <div class="container">
       <div class="LoginYab">
          <div class="row justify-content-center">
             <div class="col-md-9 col-sm-9 col-12">
                <div class="LoginMain">
                   <div class="mainHeadingBox text-center">
                      <div class="row justify-content-center">
                         <div class="col-md-12 col-sm-12 col-12">
                            <div class="headein_top headingCenter">
                               <h2>Get In <span> Touch</span></h2>
                              <!--  <p>Just fill, we will contact you</p> -->
                            </div>
                          </div>
                      </div>
                   </div>
                   <div class="LoginFrom"  data-aos="fade-down" data-aos-duration="3000">
                      <form>
                         <div class="row justify-content-center">
                            <div class="col-md-12 col-sm-12 col-12">
                               <div class="form-group LoginInput">
                                  <label for="exampleInputEmail1">enter Full Name</label>
                                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="random@gmail.com">               
                               </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-12">
                               <div class="form-group LoginInput">
                                  <label for="exampleInputEmail1">enter email</label>
                                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="random@gmail.com">               
                               </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-12">
                               <div class="form-group LoginInput">
                                  <label for="exampleInputEmail1">message (if any)</label>
                                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="write your message"></textarea>
                               </div>
                            </div>
                         
                         <div class="col-md-12 col-sm-12 col-12">
                            <button type ="submit" class="LoginInBtn">Submit</button>
                         </div>
                         </div>
                </form>
             </div>
          </div>
       </div>
    </div>
    </div>
    </div>
 </section>
<!-- =====Get in touch Section======= --> 




 <!-- ======================GET IN TOUCH SECTION START======= -->
<div class="MainMap">
  <div class="container-fluid">
     <div class="row">
        <div class="col-md-12">
           <div class="Map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d24764.51890656853!2d75.85812944807677!3d22.68107410835773!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1584108233219!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
           </div>
        </div>
     </div>
  </div>
</div>
 <!-- ======================GET IN TOUCH SECTION END======= -->

 <section class="TopThreeSection ThreeContPage">
<div class="container">
<div class="TopThree">
 <div class="row">
   <div class="col-md-4 col-sm-4 col-12">
     <div class="TopThreeBox" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-duration="1500">
       <div class="TopImg ContIcon">
         <i class="fa fa-map-marker" aria-hidden="true"></i>
       </div>

        <div class="TopImgContent">
        <h3>Address</h3>
        <span></span>
        <p>Aenean lacinia bibendum nulla sed consectetur. Integer posuere era.</p>
        
       </div>
     </div>
   </div>
   <!-- ========FIRST END========= -->
           <div class="col-md-4 col-sm-4 col-12">
     <div class="TopThreeBox" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-duration="2000">
       <div class="TopImg ContIcon">
        <i class="fa fa-phone-square" aria-hidden="true"></i>
       </div>

        <div class="TopImgContent CNumber">
        <h3>Contact Us</h3>
        <span></span>
        <p><a href="">1234567890</a></p>
        <p><a href="">1234567890</a></p>
        
       </div>
     </div>
   </div>
   <!-- ========SECOND END========= -->
    <div class="col-md-4 col-sm-4 col-12">
     <div class="TopThreeBox" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-duration="2500">
       <div class="TopImg ContIcon">
       <i class="fa fa-envelope" aria-hidden="true"></i>
       </div>

        <div class="TopImgContent CNumber">
        <h3>Mail Us</h3>
        <span></span>
        <p><a href="">demo#gmail.com</a></p>
        <p><a href="">demo#gmail.com</a></p>
        
       </div>
     </div>
   </div>
   <!-- ========THIRD END========= -->
 </div>
</div>
</div>
</section>
