 <!-- ===============MAIN BANNER START ============ -->
 <section class="minibanner" style="background-image: url('assets/images/min-banner.jpg');">
    <div class="container">
       <div class="row">
          <div class="col-md-12 col-sm-12 col-12">
            <div class="MiniBannerDiv" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
             <div class="MiniBannerContent">
                <hr class="BeforeHr">
                <h5>Subscription</h5>
                <hr class="afterforeHr">
             </div>
           
          </div>
        </div>
       </div>
    </div>
 </section>
<!-- =====MAIN BANNER end======= -->
<section class="about-section SubscriptionSec ptop pbottom" style="background: url('assets/images/map2.png'); ">
    <div class="container">
         <div class="headein_top">
                <h2>Subscription <span> For Courses</span></h2>
             </div>

             <div class="MainSubscrption mr50">
                <div class="row">
                 <div class="col-md-4 col-12 col-sm-12">
                   <div class="SubscrptionBox" data-aos="flip-left"  data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                       <div class="SubscrptionBoxImg">
                         <h6> <sup>$</sup>100<span> / Year </span></h6>
                       </div>

                       <div class="SubscriptionPara">
                         <ul>
                           <li> <i class="fa fa-hand-o-right" aria-hidden="true"></i> 1Person </li>
                           <li> <i class="fa fa-hand-o-right" aria-hidden="true"></i> 1 Trainer </li>
                           <li> <i class="fa fa-hand-o-right" aria-hidden="true"></i> 1 Course </li>
                           <li> <i class="fa fa-hand-o-right" aria-hidden="true"></i> Custom Timing </li>
                         </ul>
                       </div>

                       <div class="readbtn mr50 text-center">
                        <a href="#" class="hvr-shutter-in-vertical"> Enroll Now  <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                     </div>
                   </div>

                 </div>
                <!--  ======COLUMN FOUR END======= -->

                <div class="col-md-4 col-12 col-sm-12">
                   <div class="SubscrptionBox" data-aos="flip-left"  data-aos-easing="ease-out-cubic" data-aos-duration="2500">
                       <div class="SubscrptionBoxImg">
                         <h6> <sup>$</sup>100<span> / Year </span></h6>
                       </div>

                       <div class="SubscriptionPara">
                         <ul>
                           <li> <i class="fa fa-hand-o-right" aria-hidden="true"></i> 1Person </li>
                           <li> <i class="fa fa-hand-o-right" aria-hidden="true"></i> 1 Trainer </li>
                           <li> <i class="fa fa-hand-o-right" aria-hidden="true"></i> 1 Course </li>
                           <li> <i class="fa fa-hand-o-right" aria-hidden="true"></i> Custom Timing </li>
                         </ul>
                       </div>

                       <div class="readbtn mr50 text-center">
                        <a href="#" class="hvr-shutter-in-vertical"> Enroll Now  <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                     </div>
                   </div>

                 </div>
                <!--  ======COLUMN FOUR END======= -->

                <div class="col-md-4 col-12 col-sm-12">
                   <div class="SubscrptionBox" data-aos="flip-left"  data-aos-easing="ease-out-cubic" data-aos-duration="3000">
                       <div class="SubscrptionBoxImg">
                         <h6> <sup>$</sup>100<span> / Year </span></h6>
                       </div>

                       <div class="SubscriptionPara">
                         <ul>
                           <li> <i class="fa fa-hand-o-right" aria-hidden="true"></i> 1Person </li>
                           <li> <i class="fa fa-hand-o-right" aria-hidden="true"></i> 1 Trainer </li>
                           <li> <i class="fa fa-hand-o-right" aria-hidden="true"></i> 1 Course </li>
                           <li> <i class="fa fa-hand-o-right" aria-hidden="true"></i> Custom Timing </li>
                         </ul>
                       </div>

                       <div class="readbtn mr50 text-center">
                        <a href="#" class="hvr-shutter-in-vertical"> Enroll Now  <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                     </div>
                   </div>

                 </div>
                <!--  ======COLUMN FOUR END======= -->
             </div>
             </div>
            
    </div>
 </section>
 <!--========ABOUT section END=============-->

