
 <!-- ===============TOP HEADER============ -->
<section class="top-section" data-aos="fade-down" data-aos-easing="linear"  data-aos-duration="1500">
    <div class="container">
       <div class="main-top">
           <div class="row">
              <div class="col-md-4 col-sm-4 col-12">
                 <div class="left-top" >
                    <!--  <p data-aos="fade-right" data-aos-duration="1000"><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i>gda79701@gmail.com</a></p> -->
                    <p data-aos="fade-right" data-aos-duration="1500"><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>Vijay Nagar , Indore-452001,(M.P), India</a></p>
                 </div>
              </div>
              <!-- ======COLUMN THREE END======== -->
              <div class="col-md-4 col-sm-4 col-12">
                 <div class="middle-top">
                    <ul>
                       <li class="pr-1"><a href="https://www.facebook.com/BeingGouravETITS/"><img src="assets/images/social-facebook.jpg" class="img-fulid"></a></li>
                       <li class="pr-1"><a href="https://twitter.com/beinggourav_com"><img src="assets/images/social-twitter.jpg" class="img-fulid"></a></li>
                       <!-- <li ><a href="#"><img src="assets/images/social-google.jpg" class="img-fulid"></a></li> -->
                       <li class="pr-1"><a href="https://www.linkedin.com/company/beinggourav/?viewAsMember=true"><img src="assets/images/social-linkedin.jpg" class="img-fulid"></a></li>
                       <li class="pr-1"><a href="https://www.instagram.com/beinggourav/"><img src="assets/images/insta.jpg" class="img-fulid"></a></li>
                       <li ><a href="https://www.youtube.com/channel/UCUTlgKrzGsIaYR-Hp0RplxQ?app=deskto"><img src="assets/images/social-youtube.png" class="img-fulid"></a></li>
                    </ul>
                 </div>
              </div>
              <!-- ======COLUMN NINE END======== -->
              <div class="col-md-2 col-sm-2 col-12">
                 <div class="right-top ">
                    <a routerLink="auth/login" class="hvr-shutter-in-vertical">Login</a>
                 </div>
              </div>
              <!-- ======COLUMN NINE END======== -->

              <div class="col-md-2 col-sm-2 col-12">
                 <div class="right-top ">
                    <a routerLink="home/joinfree" class="hvr-shutter-in-vertical">Join For Free</a>
                 </div>
              </div>
              <!-- ======COLUMN NINE END======== -->
           </div>
        </div>
     </div>
     <!-- ===============TOP HEADER ============ -->
    <!-- ===============MAIN HEADER START ============ -->
  <!-- ===============MAIN HEADER START ============ -->
  <header>
    <div class="main-header">
      <div class="container">
         <nav class="navbar navbar-expand-lg navbar-light my-navbar">
        <a class="navbar-brand" routerLink="home/index"><img src="assets/images/logo.png" alt="Logo" class="img-fulid Mylogo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mynavbar-ul">
            <li class="nav-item active">
              <a class="nav-link" routerLink="home/index">Home <span class="sr-only">(current)</span></a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="about.html">About Us</a>
            </li> -->
            <li class="nav-item dropdown MydropDown">
                <a class="nav-link dropdown-toggle" routerLink="home/about" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  About Us</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" routerLink="home/vision">Vision &amp; Mission</a>
                  <a class="dropdown-item" routerLink="home/ourstory">Our Story</a>    
                  </div>                 
              </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="vision.html">Vision &amp; Mission</a>
            </li> -->
  
            <li class="nav-item">
              <a class="nav-link" (click)="video()" style="cursor:pointer">Videos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="home/portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="home/gallery">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="home/blog">Blog</a>
            </li><li class="nav-item">
              <a class="nav-link" routerLink="home/contact">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="home/buybook">Buy Book</a>
             </li>
           
          </ul>
        </div>
      </nav>
      </div>
     
    </div>
  </header>
</section>
    <!-- ===============MAIN HEADER END ============ -->
