
<!--Main content-->
<main class="TopVideoSection mrT70 pbottom" id="main">

    <div class="container-fluid">
      <div class="TopVideo">
       <!--  <div class="row">
          <div class="col-md-12 col-sm-12 col-12">
            <div class="MainVHeader">
              <ul>
                <li><a href="#" class="active">Language</a></li>
                <li>>></li>
                <li><a href="#">c++</a></li>
                <li>>></li>
                <li><a href="#">Operatores</a></li>
              </ul>
            </div>
          </div>
        </div> -->
        <div class="row justify-content-center">
  
          <div class="col-md-3 col-sm-3 col-12 vidBrdor">
            <div class="MyVCMainPage">
              <h1>HTML all Videos</h1>
            </div>
      <nav class="sidebar-nav">
      <ul class="metismenu" id="menu1">
        <!-- <li class="">
          <a class="has-arrow mm-collapsed" href="#" aria-expanded="false">
            <span class="fa fa-lg"></span>metisMenu</a>
          <ul class="mm-collapse" style="">
            <li>
              <a href="#"><span class="fa fa-fw fa-code-fork"></span> Fork</a>
            </li>
            <li>
              <a href="#"><span class="fa fa-fw fa-star"></span> Star</a>
            </li>
            <li>
              <a href="#"><span class="fa fa-fw fa-exclamation-triangle"></span> Issues </a>
            </li>
          </ul>
        </li> -->
        <li class="">
          <a class="has-arrow mm-collapsed" href="#" aria-expanded="false"><i class="fa fa-code"></i>What is a HTML</a>
          <ul class="mm-collapse" >
            <li>
              <a href="#"><i class="fa fa-play-circle" aria-hidden="true"></i>HTML</a>
            </li>
          </ul>
        </li>
        <li id="removable">
          <a class="has-arrow" href="#" aria-expanded="false"><i class="fa fa-code"></i>HTML Forms</a>
          <ul class="mm-collapse">
            <li>
              <a href="#"><i class="fa fa-play-circle" aria-hidden="true"></i>HTML Element 1</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-play-circle" aria-hidden="true"></i>HTML Element 2</a>
            </li>
            <li>
              <a class="has-arrow" href="#" aria-expanded="false"><i class="fa fa-code"></i>HTML Element 1</a>
              <ul class="mm-collapse">
                <li>
                  <a href="#"><i class="fa fa-play-circle" aria-hidden="true"></i>Input</a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-play-circle" aria-hidden="true"></i>Textarea</a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-play-circle" aria-hidden="true"></i>Textarea1</a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-play-circle" aria-hidden="true"></i>Textarea1</a>
                </li>
              </ul>
            </li>
            <li>
              <a class="has-arrow" href="#" aria-expanded="false"><i class="fa fa-code"></i>HTML APIs</a>
              <ul class="mm-collapse">
                <li>
                  <a href="#"><i class="fa fa-play-circle" aria-hidden="true"></i>HTML Geolocation</a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-play-circle" aria-hidden="true"></i>HTML Drag/Drop</a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-play-circle" aria-hidden="true"></i>HTML Web Storage</a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-play-circle" aria-hidden="true"></i>HTML Web Workers</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <a class="has-arrow" href="#" aria-expanded="false"><i class="fa fa-code"></i>HTML Graphics</a>
          <ul class="mm-collapse">
            <li>
              <a href="#"><i class="fa fa-play-circle" aria-hidden="true"></i>HTML Canvas</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-play-circle" aria-hidden="true"></i>HTML SVG</a>
            </li>
          </ul>
        </li>
  
        <li>
          <a class="has-arrow" href="#" aria-expanded="false"><i class="fa fa-code"></i>HTML Media</a>
          <ul class="mm-collapse">
            <li>
              <a href="#"><i class="fa fa-play-circle" aria-hidden="true"></i>HTML Video</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-play-circle" aria-hidden="true"></i>HTML Audio</a>
            </li>
          </ul>
        </li>
  
        <li>
          <a class="has-arrow" href="#" aria-expanded="false"><i class="fa fa-code"></i>HTML Operatores</a>
          <ul class="mm-collapse">
            <li>
              <a href="#"><i class="fa fa-play-circle" aria-hidden="true"></i>Example1</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-play-circle" aria-hidden="true"></i>Example1</a>
            </li>
          </ul>
        </li>
      </ul>   
  
       </nav>
    </div>
  
  
  
  
     <!--  =========COLUMN TWO END====== -->
  
  <div class="col-md-8 col-sm-7 col-12">
            <div class="TopVideoBox">
              <!-- Sidebar -->
                  <div class="MainVideoCat">
                   <!-- <img src="assets/images/b5.jpg" class="img-fulid" alt="Image">  -->
                   <iframe width="100%" height="555" src="https://www.youtube.com/watch?v=iZXVseFWj9c&t=104s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                
                    
                  </div>
  
                  <div class="MainVideoCatHeading">
                    <h2>dummy test Heading</h2>
                  </div>
  
                  <div class="MainVideoCatUl">
                    <div class="row">  
                      <div class="col-md-6 col-sm-6 col-6">
                        <div class="middle-top">
                          <ul>
                             <li><a href="https://www.facebook.com/BeingGouravETITS/"><img src="assets/images/social-facebook.jpg" class="img-fulid"></a></li>
                             <li><a href="https://twitter.com/beinggourav_com"><img src="assets/images/social-twitter.jpg" class="img-fulid"></a></li>
                             <!-- <li ><a href="#"><img src="assets/images/social-google.jpg" class="img-fulid"></a></li> -->
                             <li><a href="https://www.linkedin.com/company/beinggourav/?viewAsMember=true"><img src="assets/images/social-linkedin.jpg" class="img-fulid"></a></li>
                             <li><a href="https://www.instagram.com/beinggourav/"><img src="assets/images/insta.jpg" class="img-fulid"></a></li>
                             <li><a href="https://www.youtube.com/watch?v=iZXVseFWj9c&amp;t=149s"><img src="assets/images/social-youtube.png" class="img-fulid"></a></li>
                             <li><a href="#"><img src="assets/images/social-whatsup.png" class="img-fulid"></a></li>
                          </ul>
                       </div>
                       <!--  <div class="VideoUl text-right">
                           <ul>
                              <li><a href=""><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>Like</a></li>
                              <li><a href=""><i class="fa fa-comment-o" aria-hidden="true"></i>comment</a></li>
                              <li><a href=""><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>unLike</a></li>
                           </ul>
                        </div> -->
                      </div>
  
                      <div class="col-md-6 col-sm-6 col-6">
                        <div class="VideoUl text-right">
                           <ul>
                              <!-- <li><a href=""><i class="fa fa-lock" aria-hidden="true"></i>Save Video</a></li>
                              <li><a href=""><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Notes</a></li>
                              <li><a href=""><i class="fa fa-file-pdf-o" aria-hidden="true"></i>Pdf</a></li> -->
                              <li><a href=""><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>Like</a></li>
                              <li><a class="" href="#" onclick="toggleSidebar()"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>Save Pdf</a></li>
                           </ul>
                        </div>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-12">
                        <div class="VideoDescrption">
                          <div class="VideoPara">
                          <p>Programming is an increasingly important skill, whether you aspire to a career in software development, or in other fields. This course is the first in the specialization Introduction to Programming in C, but its lessons extend to any language you might want to learn. This is because programming is fundamentally about figuring out how to solve a class of problems and writing the algorithm, a clear set of steps to solve any problem in its class. This course will introduce you to a powerful problem-solving process—the Seven Steps—which you can use to solve any programming problem. In this course, you will learn how to develop an algorithm, then progress to reading code and understanding how programming concepts relate to algorithms.</p>
                        </div>
                        <div class="VideoPara">
                            <h4>Skills You'll Learn</h4>
                            <p>Algorithms, Programming Language Concepts, Problem Solving, C Programming</p>
                          </div>
                        </div>
                      </div>
                    </div>
                   
                  </div>
             
        </div>
      </div>
     <!--  =========COLUMN EIGHT END====== -->
  
    </div>
  </div>
  </div>
       
    
  
  </main>
  <!--The pull tab used to open and close the sidebar-->
  <div class="sidebar-tab" id="sidebar-tab">
    <div class="vertical-text text-center" id="sidebar-tab-text" (click)="toggleSidebar()">THIS IS PDF<span class="arrow vertical-text"></span></div>
  </div>
  <!--The acutal content of the sidebar-->
  <div class="sidebar" id="sidebar">
    <div class="container-liner">
      <!-- <h4> Example Sidebar Content</h4> -->
  <div class="row">
       <div class="col-md-10 col-sm-12 col-12">
      <div class="RightMainNotes">
        <div class="MyVCMainPage">
              <h1>HTML all PDF <i class="fa fa-file-pdf-o" aria-hidden="true"></i></h1>
              <div class="PDFUL">
                <ul>
                  <li><i class="fa fa-file-pdf-o" aria-hidden="true"></i>pdf 1</li>
                  <li><i class="fa fa-file-pdf-o" aria-hidden="true"></i>pdf 1</li>
                  <li><i class="fa fa-file-pdf-o" aria-hidden="true"></i>pdf 1</li>
                  <li><i class="fa fa-file-pdf-o" aria-hidden="true"></i>pdf 1</li>
                  <li><i class="fa fa-file-pdf-o" aria-hidden="true"></i>pdf 1</li>
                  <li><i class="fa fa-file-pdf-o" aria-hidden="true"></i>pdf 1</li>
                </ul>
              </div>
            </div>
      </div>
     </div>
  </div>
  
    </div>
  </div>
  
 
 