<!-- ===============MAIN BANNER START ============ -->
<section class="minibanner" style="background-image: url('assets/images/min-banner.jpg');">
    <div class="container">
       <div class="row">
          <div class="col-md-12 col-sm-12 col-12">
            <div class="MiniBannerDiv" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
             <div class="MiniBannerContent">
                <hr class="BeforeHr">
                <h5>Our Story</h5>
                <hr class="afterforeHr">
             </div>
           
          </div>
        </div>
       </div>
    </div>
 </section>
<!-- =====MAIN BANNER end======= -->
<!-- =====buy book Section======= -->

<!-- =====buy book Section======= --> 

<section class="MainOurStory ptop pbottom">
<div class="container">
<div class="MainStory">
 <div class="row">
   <div class="col-md-6 col-sm-6 col-12">
     <div class="StoryImg">
       <img src="assets/images/storyimg.jpg" class="img-fulid" alt="Img">
     </div>
   </div>

   <div class="col-md-6 col-sm-6 col-12">
     <div class="StoryContent">
       <div class="TopStory">
         <div class="headein_top">
                <h2>Our <span> Story</span></h2>
             </div>
           <div class="inner-columnpara">
                <p> If your dry product weight has different size options, you need to consider how dense of a product you have. The more dense your product is, the smaller the container it will fit in.</p>
              </div>
       </div>

       <div class="TopStoryMain">
         <div class="StoryIconBox" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
           <div class="Sicon-wrapper"><img src="assets/images/icon12.png" class="img-fulid" alt="img"></div>
           <div class="Sicon-content"><h4>Lorem ipsum dolor sit </h4>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, doloribus, accusamus. Commodi voluptas,</p></div>
         </div>

         <div class="StoryIconBox" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
           <div class="Sicon-wrapper"><img src="assets/images/icon12.png" class="img-fulid" alt="img"></div>
           <div class="Sicon-content"><h4>Lorem ipsum dolor sit </h4>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, doloribus, accusamus. Commodi voluptas,</p></div>
         </div>

         <div class="StoryIconBox" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
           <div class="Sicon-wrapper"><img src="assets/images/icon12.png" class="img-fulid" alt="img"></div>
           <div class="Sicon-content"><h4>Lorem ipsum dolor sit </h4>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, doloribus, accusamus. Commodi voluptas,</p></div>
         </div>

       </div>
       
     </div>
   </div>
 </div>
</div>
</div>
</section>
<section class="StorySecBanner">
<div class="short-banner">
     <h2>Online Classes With The <br>World's Best Instructors</h2>
     <div class="readbtn text-center">
                   <a routerLink="about" class="hvr-shutter-in-vertical">Start Class TODAY <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
     <img src="assets/images/7.png" alt="" class="shape-one"  data-aos="flip-left"  data-aos-easing="ease-out-cubic" data-aos-duration="2500">
     <img src="assets/images/8.png" alt="" class="shape-two">
   </div>
</section>
