 <!-- ===============MAIN BANNER START ============ -->
 <section class="minibanner" style="background-image: url('assets/images/min-banner.jpg');">
    <div class="container">
       <div class="row">
          <div class="col-md-12 col-sm-12 col-12">
             <div class="MiniBannerDiv" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
                <div class="MiniBannerContent">
                   <hr class="BeforeHr">
                   <h5>Video</h5>
                   <hr class="afterforeHr">
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- =====contact banner Section======= -->
 <section class="VideoCatTabSec mrT70">
    <div class="container">
       <div class="VideoCatDesMain mrT70">
          <h2>What you will learn from this course</h2>
          <div class="VideoTabIntro mrT70">
             <div class="row justify-content-center">
                <div class="col-md-12 col-sm-12 col-12">
                   <div class="VideoCatIntro VideoCatBr">
                      <h5>
                         <!-- <span>1</span> -->Web Design Introduction
                      </h5>
                      <p>This module introduces a powerful process for solving any programming problem—the Seven Steps. You will learn how to approach a programming problem methodically, so you can formulate an algorithm that is specific and correct. You will work through examples with sequences of numbers and graphical patterns to develop the skill of algorithm development.</p>
                      <p>learn how to approach a programming problem methodically, so you can formulate an algorithm that is specific and correct. You will work through examples with sequences of numbers and graphical patterns to develop the skill of algorithm development.</p>
                   </div>
                </div>
             </div>
             <div class="MainTabCourses mrT70 VideoCatBr">
                <h5>Courses</h5>
                <div class="row">
                   <div class="col-md-3 col-sm-3 col-12 aos-init aos-animate" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500" >
                      <div class="channel-box bgwhite shadow-2">
                         <div class="channel-icon">
                            <i class="fa fa-graduation-cap red-1" aria-hidden="true"></i>
                         </div>
                         <div class="channel-title">
                            <h5>Photoshop</h5>
                         </div>
                         <div class="channel-disc">
                            <p>A Study Platform where Students can explore their knowledge.</p>
                         </div>
                         <div class="SInglCatLink">
                            <a (click)="singal_category()" style="color: #cf4177;cursor: pointer;" >Read More</a>
                         </div>
                      </div>
                   </div>
                   <!-- =====================Frist Column ENd================== -->
                   <div class="col-md-3 col-sm-3 col-12 aos-init aos-animate" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1600">
                      <div class="channel-box bgwhite shadow-2">
                         <!-- <div class="channel-tag">
                            <img src="assets/images/chanel-tag.png" class="img-responsive" alt="channel tag">
                            </div> -->
                         <div class="channel-icon">
                            <i class="fa fa-leanpub red-1" aria-hidden="true"></i>                        
                         </div>
                         <div class="channel-title">
                            <h5>HTML</h5>
                         </div>
                         <div class="channel-disc">
                            <p>A virtual Training approach to provide a solution anytime.</p>
                         </div>
                         <div class="SInglCatLink">
                            <a (click)="singal_category()" style="color: #cf4177;cursor: pointer;">Read More</a>
                         </div>
                      </div>
                   </div>
                   <!-- =====================Second Column ENd================== -->
                   <div class="col-md-3 col-sm-3 col-12 aos-init aos-animate" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1700">
                      <div class="channel-box bgwhite shadow-2">
                         <!-- <div class="channel-tag">
                            <img src="assets/images/chanel-tag.png" class="img-responsive" alt="channel tag">
                            </div> -->
                         <div class="channel-icon">
                            <i class="fa fa-television red-1" aria-hidden="true"></i>
                         </div>
                         <div class="channel-title">
                            <h5>CSS</h5>
                         </div>
                         <div class="channel-disc">
                            <p>We build Websites and provide SEO services to new &amp; existing Websites.</p>
                         </div>
                         <div class="SInglCatLink">
                            <a (click)="singal_category()" style="color: #cf4177;cursor: pointer;">Read More</a>
                         </div>
                      </div>
                   </div>
                   <!-- =====================Third Column ENd================== -->
                   <div class="col-md-3 col-sm-3 col-12 aos-init aos-animate" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1800">
                      <div class="channel-box bgwhite shadow-2">
                         <!-- <div class="channel-tag">
                            <img src="assets/images/chanel-tag.png" class="img-responsive" alt="channel tag">
                            </div> -->
                         <div class="channel-icon">
                            <i class="fa fa-pencil-square-o red-1" aria-hidden="true"></i>
                         </div>
                         <div class="channel-title">
                            <h5>Jquery</h5>
                         </div>
                         <div class="channel-disc">
                            <p>A productive Content, which leads to an appropriate Information.</p>
                         </div>
                         <div class="SInglCatLink">
                            <a (click)="singal_category()" style="color: #cf4177;cursor: pointer;">Read More</a>
                         </div>
                      </div>
                   </div>
                   <!-- =====================Fourth Column ENd================== -->
                   <div class="col-md-3 col-sm-3 col-12 aos-init aos-animate" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1700">
                      <div class="channel-box bgwhite shadow-2">
                         <!-- <div class="channel-tag">
                            <img src="assets/images/chanel-tag.png" class="img-responsive" alt="channel tag">
                            </div> -->
                         <div class="channel-icon">
                            <i class="fa fa-television red-1" aria-hidden="true"></i>
                         </div>
                         <div class="channel-title">
                            <h5>CSS</h5>
                         </div>
                         <div class="channel-disc">
                            <p>We build Websites and provide SEO services to new &amp; existing Websites.</p>
                         </div>
                         <div class="SInglCatLink">
                            <a (click)="singal_category()" style="color: #cf4177;cursor: pointer;">Read More</a>
                         </div>
                      </div>
                   </div>
                   <!-- =====================Third Column ENd================== -->
                   <div class="col-md-3 col-sm-3 col-12 aos-init aos-animate" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1800">
                      <div class="channel-box bgwhite shadow-2">
                         <!-- <div class="channel-tag">
                            <img src="assets/images/chanel-tag.png" class="img-responsive" alt="channel tag">
                            </div> -->
                         <div class="channel-icon">
                            <i class="fa fa-pencil-square-o red-1" aria-hidden="true"></i>
                         </div>
                         <div class="channel-title">
                            <h5>Jquery</h5>
                         </div>
                         <div class="channel-disc">
                            <p>A productive Content, which leads to an appropriate Information.</p>
                         </div>
                         <div class="SInglCatLink">
                            <a (click)="singal_category()" style="color: #cf4177;cursor: pointer;">Read More</a>
                         </div>
                      </div>
                   </div>
                   <!-- =====================Fourth Column ENd================== -->
                </div>
             </div>
          </div>
       </div>
       <div class="readbtn LoadMoreVideoBox mrT70 text-center">
          <a (click)="videomain()" class="hvr-shutter-in-vertical" >Load More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
       </div>
    </div>
 </section>
 <section class="CorsesSlideSec TopThreeSection ThreeContPage TopVIdeoBox mrT70" data-aos="fade-up" data-aos-duration="3000">
    <div class="container">
       <div class="heading-testimonials text-center">
          <div class="headein_top headingCenter">
             <h2>Other <span> Courses</span></h2>
          </div>
       </div>
      <div class="owl-carousel owl-theme" id="OtherCourses">
          <div class="item">
             <div class="TopThreeBox aos-init aos-animate" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-duration="1500">
                <div class="TopImg ContIcon">
                   <i class="fa fa-map-marker" aria-hidden="true"></i>
                </div>
                <div class="TopImgContent">
                   <h3>Web Design</h3>
                   <span></span>
                   <p>Aenean lacinia bibendum nulla sed consectetur. Integer posuere era.</p>
                   <a (click)="videomain()" class="ReadMoreBanner ">Read More <i class="fa fa-angle-right" aria-hidden="true" ></i></a>
                </div>
             </div>
          </div>
       </div> 
       </div>
    
 </section>

 <!-- ============COUNTER END=========== -->
