 <!-- ===============MAIN BANNER START ============ -->
 <section class="minibanner" style="background-image: url('assets/images/min-banner.jpg');">
    <div class="container">
       <div class="row">
          <div class="col-md-12 col-sm-12 col-12">
             <div class="MiniBannerDiv" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
                <div class="MiniBannerContent">
                   <hr class="BeforeHr">
                   <h5>gallery</h5>
                   <hr class="afterforeHr">
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- =====MAIN BANNER end======= -->
 <!-- =====portfolio Section======= -->
 <section class="EventSection artists GalSection">
    <div class="container">
       <div class="EventMain aos-init" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
          <div class="row justify-content-center">
             <div class="col-md-12">
                <div class="EventBoxMain VideoGal">
                         <div class="demo-gallery">
                            <ul class="list-unstyled row lightgallery justify-content-center">
                               <li class="col-12 col-sm-3 col-md-3 MainPortfolio" data-src="assets/images/portimg3.png">
                                  <a href="">
                                     <img class="img-fluid" src="assets/images/portimg3.png">
                                     <div class="overlay"><i class="fa fa-picture-o GalICon" aria-hidden="true"></i></div>
                                  </a>
                                  <h4>Lorem ipsum</h4>
                               </li>
                               <li class="col-12 col-sm-3 col-md-3 MainPortfolio" data-src="assets/images/portimg1.jpg">
                                  <a href="">
                                     <img class="img-fluid" src="assets/images/portimg1.jpg">
                                     <div class="overlay"><i class="fa fa-picture-o GalICon" aria-hidden="true"></i></div>
                                  </a>
                                  <h4>Lorem ipsum</h4>
                               </li>

                               <li class="col-12 col-sm-3 col-md-3 MainPortfolio" data-src="assets/images/portimg3.png">
                                  <a href="">
                                     <img class="img-fluid" src="assets/images/portimg3.png">
                                     <div class="overlay"><i class="fa fa-picture-o GalICon" aria-hidden="true"></i></div>
                                  </a>
                                  <h4>Lorem ipsum</h4>
                               </li>
                               <li class="col-12 col-sm-3 col-md-3 MainPortfolio" data-src="assets/images/portimg1.jpg">
                                  <a href="">
                                     <img class="img-fluid" src="assets/images/portimg1.jpg">
                                     <div class="overlay"><i class="fa fa-picture-o GalICon" aria-hidden="true"></i></div>
                                  </a>
                                  <h4>Lorem ipsum</h4>
                               </li>
                               <li class="col-12 col-sm-3 col-md-3 MainPortfolio" data-src="assets/images/portimg1.jpg">
                                  <a href="">
                                     <img class="img-fluid" src="assets/images/portimg1.jpg">
                                     <div class="overlay"><i class="fa fa-picture-o GalICon" aria-hidden="true"></i></div>
                                  </a>
                                  <h4>Lorem ipsum</h4>
                               </li>

                                <li class="col-12 col-sm-3 col-md-3 MainPortfolio" data-src="assets/images/portimg1.jpg">
                                  <a href="">
                                     <img class="img-fluid" src="assets/images/portimg1.jpg">
                                     <div class="overlay"><i class="fa fa-picture-o GalICon" aria-hidden="true"></i></div>
                                  </a>
                                  <h4>Lorem ipsum</h4>
                               </li>
                               <li class="col-12 col-sm-3 col-md-3 MainPortfolio" data-src="assets/images/portimg1.jpg">
                                  <a href="">
                                     <img class="img-fluid" src="assets/images/portimg1.jpg">
                                     <div class="overlay"><i class="fa fa-picture-o GalICon" aria-hidden="true"></i></div>
                                  </a>
                                  <h4>Lorem ipsum</h4>
                               </li>
                            </ul>
                         </div>
                         <!--  =======ROW END====== -->
                         <div class="right-top pt-5">
                            <a href="#" class="hvr-shutter-in-vertical">View more</a>
                         </div>
                   
                      <!-- ==========FIRST TABEND========= -->
                    
             
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- =====portfolio Section======= --> 
