<!-- ===============MAIN BANNER START ============ -->
<section class="minibanner" style="background-image: url('assets/images/min-banner.jpg');">
    <div class="container">
       <div class="row">
          <div class="col-md-12 col-sm-12 col-12">
             <div class="MiniBannerDiv" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
                <div class="MiniBannerContent">
                   <hr class="BeforeHr">
                   <h5>Portfolio</h5>
                   <hr class="afterforeHr">
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- =====MAIN BANNER end======= -->
 <!-- =====portfolio Section======= -->
 <section class="EventSection artists">
    <div class="container">
       <div class="EventMain aos-init" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
          <div class="row justify-content-center">
             <div class="col-md-12">
                <div class="EventBoxMain VideoGal">
                   <ul class="nav nav-pills mb-5 justify-content-center" id="pills-tabvideo" role="tablist">
                      <li class="nav-item">
                         <a class="nav-link btn active show" id="pills-home-tabv" data-toggle="pill" href="#pills-homev" role="tab" aria-controls="pills-homev" aria-selected="true">Home</a>
                      </li>
                      <li class="nav-item">
                         <a class="nav-link btn" id="pills-profile-tabv" data-toggle="pill" href="#pills-profilev" role="tab" aria-controls="pills-profilev" aria-selected="false">Profile</a>
                      </li>
                      <li class="nav-item">
                         <a class="nav-link btn" id="pills-contact-tabv" data-toggle="pill" href="#pills-contactv" role="tab" aria-controls="pills-contactv" aria-selected="false">Contact</a>
                      </li>
                   </ul>
                   <div class="tab-content" id="pills-tabContent">
                      <div class="tab-pane fade active show" id="pills-homev" role="tabpanel" aria-labelledby="pills-home-tabv">
                         <div class="demo-gallery">
                            <ul class="list-unstyled row lightgallery justify-content-center">
                               <li class="col-4 col-sm-4 col-md-4 MainPortfolio" data-src="assets/images/portimg3.png">
                                  <a href="">
                                     <img class="img-fluid" src="assets/images/portimg3.png">
                                     <div class="overlay"><i class="fa fa-picture-o GalICon" aria-hidden="true"></i></div>
                                  </a>
                                  <h4>Lorem ipsum</h4>
                               </li>
                               <li class="col-4 col-sm-4 col-md-4 MainPortfolio" data-src="assets/images/portimg1.jpg">
                                  <a href="">
                                     <img class="img-fluid" src="assets/images/portimg1.jpg">
                                     <div class="overlay"><i class="fa fa-picture-o GalICon" aria-hidden="true"></i></div>
                                  </a>
                                  <h4>Lorem ipsum</h4>
                               </li>
                               <li class="col-4 col-sm-4 col-md-4 MainPortfolio" data-src="assets/images/portimg1.jpg">
                                  <a href="">
                                     <img class="img-fluid" src="assets/images/portimg1.jpg">
                                     <div class="overlay"><i class="fa fa-picture-o GalICon" aria-hidden="true"></i></div>
                                  </a>
                                  <h4>Lorem ipsum</h4>
                               </li>
                            </ul>
                         </div>
                         <!--  =======ROW END====== -->
                         <div class="right-top pt-5">
                            <a href="#" class="hvr-shutter-in-vertical">View more</a>
                         </div>
                      </div>
                      <!-- ==========FIRST TABEND========= -->
                      <div class="tab-pane fade" id="pills-profilev" role="tabpanel" aria-labelledby="pills-profile-tabv">
                         <div class="demo-gallery">
                            <ul class="list-unstyled row lightgallery justify-content-center">
                               <li class="col-4 col-sm-4 col-md-4 MainPortfolio" data-src="assets/images/portimg3.png">
                                  <a href="">
                                     <img class="img-fluid" src="assets/images/portimg3.png">
                                     <div class="overlay"><i class="fa fa-picture-o GalICon" aria-hidden="true"></i></div>
                                  </a>
                                  <h4>Lorem ipsum</h4>
                               </li>
                               <li class="col-4 col-sm-4 col-md-4 MainPortfolio" data-src="assets/images/portimg1.jpg">
                                  <a href="">
                                     <img class="img-fluid" src="assets/images/portimg1.jpg">
                                     <div class="overlay"><i class="fa fa-picture-o GalICon" aria-hidden="true"></i></div>
                                  </a>
                                  <h4>Lorem ipsum</h4>
                               </li>
                            </ul>
                         </div>
                         <div class="right-top pt-5">
                            <a href="#" class="hvr-shutter-in-vertical">View more</a>
                         </div>
                      </div>
                      <!-- ===========TAB SECOND END====== -->
                      <div class="tab-pane fade" id="pills-contactv" role="tabpanel" aria-labelledby="pills-contact-tabv">
                         <div class="demo-gallery">
                            <ul class="list-unstyled row lightgallery justify-content-center">
                               <li class="col-4 col-sm-4 col-md-4 MainPortfolio" data-src="assets/images/portimg3.png">
                                  <a href="">
                                     <img class="img-fluid" src="assets/images/portimg3.png">
                                     <div class="overlay"><i class="fa fa-picture-o GalICon" aria-hidden="true"></i></div>
                                  </a>
                                  <h4>Lorem ipsum</h4>
                               </li>
                            </ul>
                         </div>
                         <div class="right-top pt-5">
                            <a href="#" class="hvr-shutter-in-vertical">View more</a>
                         </div>
                      </div>
                      <!--    =======THIRED TAB END======= -->
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- =====portfolio Section======= --> 
