      <!-- =====MAIN BANNER end======= -->
      <section class="Returnpolicy ptop pbootom">
        <div class="container">
           <div class="Shipping">
              <div class="row justify-content-center">
                 <div class="col-md-10 col-sm-10 col-10">
                    <div class="PolicyInner">
                       <h5><i class="fa fa-hand-o-right" aria-hidden="true"></i> Which products are eligible for return?</h5>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
                       </p>
                    </div>
                 </div>
                 <div class="col-md-10 col-sm-10 col-10">
                    <div class="PolicyInner">
                       <h5><i class="fa fa-hand-o-right" aria-hidden="true"></i> What will be the return duration?</h5>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
                       </p>
                    </div>
                 </div>
                 <div class="col-md-10 col-sm-10 col-10">
                    <div class="PolicyInner">
                       <h5><i class="fa fa-hand-o-right" aria-hidden="true"></i> Which products are eligible for return?</h5>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
                       </p>
                    </div>
                 </div>
                 <div class="col-md-10 col-sm-10 col-10">
                    <div class="PolicyInner">
                       <h5><i class="fa fa-hand-o-right" aria-hidden="true"></i> What will be the return duration?</h5>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. 
                       </p>
                    </div>
                 </div>
                 <div class="col-md-10 col-sm-10 col-10">
                    <div class="PolicyInner">
                       <h5><i class="fa fa-hand-o-right" aria-hidden="true"></i> What will be the return duration?</h5>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                       </p>
                    </div>
                 </div>
                 <div class="col-md-10 col-sm-10 col-10">
                    <div class="PolicyInner">
                       <h5><i class="fa fa-hand-o-right" aria-hidden="true"></i> What will be the return duration?</h5>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
                       </p>
                    </div>
                 </div>
                 <div class="col-md-10 col-sm-10 col-10">
                    <div class="PolicyInner">
                       <h5><i class="fa fa-hand-o-right" aria-hidden="true"></i> What will be the return duration?</h5>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
                       </p>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </section>
