<!-- ====================== newslatter-section ======================  -->
<section class="newslater-wrper">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="newslater-ctn">
            <h2>Get on the list</h2>
            <p>Signup & Receive <span class="text-colr">75%</span> off</p>
          </div>
        </div>
         <div class="col-md-8">
          <div class="newslater-input">
            <div class="newslater-frm-bx">
            <form class="action">
              <div class="input-bx">
                <input type="email" name="" placeholder="Enter E-Mail Address">
                <button type="submit">Subscribe!</button>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ===========OUR PAYTM======= -->
  <!-- ===========OUR FOOTER START======= -->
  <section class="footer-wrpwr"> 
    <div class="container">
      <div class="footer-inner">
        <div class="row">
          <div class="col-md-3">
            <div class="footer-logo">
              <div class="foterolog-immg"> 
                <img src="assets/images/logo.png" alt="Image" class="img-fluid">
              </div>
              <div class="footer-social">
                 <div class="middle-top">
                    <ul>
                      <li><a href="#"><img src="assets/images/social-facebook.jpg" class="img-fulid"></a></li>
                      <li ><a href="#"><img src="assets/images/social-twitter.jpg" class="img-fulid"></a></li>
                      <li ><a href="#"><img src="assets/images/social-google.jpg" class="img-fulid"></a></li>
                      <li ><a href="#"><img src="assets/images/social-linkedin.jpg" class="img-fulid"></a></li>
                      <li ><a href="#"><img src="assets/images/insta.jpg" class="img-fulid"></a></li>
                    </ul>
                  </div>
              </div>
            </div>
          </div>
           <div class="col-md-9">
             <div class="row">
                  <div class="col-md-4">
                   <div class="footer-menu">
                     <h1 class="menu-title">CONTACT</h1>
                     <ul>
                     <li><a href=""><i class="fa fa-angle-double-right" aria-hidden="true"></i>info@beinggourav.com</a></li>
                     <li><a href=""> <i class="fa fa-angle-double-right" aria-hidden="true"></i>+(+91)9926006007</a></li>
                     <li><a href=""> <i class="fa fa-angle-double-right" aria-hidden="true"></i>+(+91)7879160009</a></li>
                     <li><a href=""> <i class="fa fa-angle-double-right" aria-hidden="true"></i>+(+91)9893381736</a></li>
                     </ul>
                      <h1 class="menu-title secsectionmenu">Location</h1>
                    <ul>
                     <li><p>320 PU4, SCHEME NO. 54, Vijay Nagar, Indore</p></li>
                     </ul>
                   </div>
                </div>
                <div class="col-md-3">
                   <div class="footer-menu">
                     <h1 class="menu-title">PAGE LINKS</h1>
                     <ul>
                     <li><a (click)="video()" id="ahover"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Video</a></li>
                     <li><a href="home/portfolio"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Portfolio</a></li>
                     <li><a href="home/gallery"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Gallery</a></li>
                     <li><a href="home/blog"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Blog</a></li>
                     <li><a href="home/buybook"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Buy Book</a></li>
                     </ul>
                   </div>
              </div>
         <!--       <div class="col-md-3">
                   <div class="footer-menu">
                     <h1 class="menu-title">Customer Care</h1>
                     <ul>
                     <li><a href="">Help Center</a></li>
                     <li><a href="">Shipping & Delivery</a></li>
                     <li><a href="">Returns</a></li>
                     <li><a href="">Account </a></li>
                     </ul>
                   </div>
              </div> -->
                <div class="col-md-3">
                   <div class="footer-menu">
                     <h1 class="menu-title">Policy</h1>
                     <ul>
                     <li><a routerLink="home/privacy"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Privacy Policy</a></li>
                     <li><a routerLink="home/terms"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Terms & Conditions</a></li>
                     <!-- <li><a href="">Copyright</a></li> -->
                     </ul>
  
                      <h1 class="menu-title secsectionmenu">Company</h1>
                    <ul>
                     <li><a routerLink="home/about"><i class="fa fa-angle-double-right" aria-hidden="true"></i>About us</a></li>
                     <li><a routerLink="home/contact"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Contact us </a></li>
                     </ul>
                   </div>
              </div>
             </div>
          </div>
        
        </div>
        <p class="Copyright">© 2020 Being Gourav. All rights reserved</p>
      </div>
    </div>
  
  
  </section>
  <a href="#" id="toTop" style="display: block;"><span id="toTopHover"></span></a>
  <!-- ===========OUR FOOTER END======= -->
