<!-- ===============MAIN BANNER START ============ -->
<section class="minibanner" style="background-image: url('assets/images/min-banner.jpg');">
    <div class="container">
       <div class="row">
          <div class="col-md-12 col-sm-12 col-12">
             <div class="MiniBannerDiv" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
                <div class="MiniBannerContent">
                   <hr class="BeforeHr">
                   <h5>blog</h5>
                   <hr class="afterforeHr">
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- =====MAIN BANNER end======= -->
 <!-- ============BLOG SECTION START============ -->
 <section class="BlogSection pbottom">
    <div class="container">
       <div class="MainBlog">
          <div class="row">
             <div class="col-md-8 col-sm-8 col-12" data-aos="flip-left" data-aos-easing="ease-out-cubic"     data-aos-duration="2000">
                <div class="BlogMain">
                   <div class="BlogFullImg">
                      <a (click)="singleblog()" id="image"><img src="assets/images/b7.jpg" class="img-fluid wd100"  alt="Image"></a>
                   </div>
                   <div class="blog-preview_info">
                      <ul>
                         <li><i class="fa fa-user"></i>posted by <a href="#" >Blog Themes</a></li>
                         <li><i class="fa fa-comments"></i><a href="#" >5 Comments</a></li>
                         <li><i class="fa fa-calendar"></i><time datetime="2015-10-04T07:17:52+00:00" class="entry-date published">January 04, 2016</time></li>
                      </ul>
                      <h4 class="blog-preview_title"><a href="#" id="tittle">Pellentesque habitant morbi</a></h4>
                      <div class="blog-preview_desc">
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et mi vulputate gen vehicula maximus sagittis rhoncus tortor. Class aptent taciti sociosqu ad litora torquent perconubia nostra, per inceptos himenaeos. Sed vel nisi orci. Pellentesque sed dignissim dolor, sit amet gravida orci. Suspendisse imperdiet ex vel lacus imperdiet mollis. Sed feugiat enim sed eros interdum, […]</p>
                      </div>
                      <div class="ProductBox-btn">
                         <div class="readbtn">
                            <a (click)="singleblog()" class="hvr-shutter-in-vertical" id="readmore">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                         </div>
                      </div>
                   </div>
                </div>
                <!--   ===============BLOG END======= -->
                <div class="BlogMain">
                   <div class="BlogFullImg">
                      <a (click)="singleblog()"><img src="assets/images/b5.jpg" class="img-fluid wd100" alt="Image"></a>
                   </div>
                   <div class="blog-preview_info">
                      <ul>
                         <li><i class="fa fa-user"></i>posted by <a href="#" >Blog Themes</a></li>
                         <li><i class="fa fa-comments"></i><a href="#" >5 Comments</a></li>
                         <li><i class="fa fa-calendar"></i><time datetime="2015-10-04T07:17:52+00:00" class="entry-date published">January 04, 2016</time></li>
                      </ul>
                      <h4 class="blog-preview_title"><a href="#">Pellentesque habitant morbi</a></h4>
                      <div class="blog-preview_desc">
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et mi vulputate gen vehicula maximus sagittis rhoncus tortor. Class aptent taciti sociosqu ad litora torquent perconubia nostra, per inceptos himenaeos. Sed vel nisi orci. Pellentesque sed dignissim dolor, sit amet gravida orci. Suspendisse imperdiet ex vel lacus imperdiet mollis. Sed feugiat enim sed eros interdum, […]</p>
                      </div>
                      <div class="ProductBox-btn">
                         <div class="readbtn">
                            <a (click)="singleblog()" class="hvr-shutter-in-vertical" id="readmore">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                         </div>
                      </div>
                   </div>
                </div>
                <!-- ==========BLOG END========= -->
                <div class="BlogMain">
                   <div class="BlogFullImg">
                      <a (click)="singleblog()"><img src="assets/images/b7.jpg" class="img-fluid wd100" alt="Image"></a>
                   </div>
                   <div class="blog-preview_info">
                      <ul>
                         <li><i class="fa fa-user"></i>posted by <a href="#" >Blog Themes</a></li>
                         <li><i class="fa fa-comments"></i><a href="#" >5 Comments</a></li>
                         <li><i class="fa fa-calendar"></i><time datetime="2015-10-04T07:17:52+00:00" class="entry-date published">January 04, 2016</time></li>
                      </ul>
                      <h4 class="blog-preview_title"><a href="#">Pellentesque habitant morbi</a></h4>
                      <div class="blog-preview_desc">
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et mi vulputate gen vehicula maximus sagittis rhoncus tortor. Class aptent taciti sociosqu ad litora torquent perconubia nostra, per inceptos himenaeos. Sed vel nisi orci. Pellentesque sed dignissim dolor, sit amet gravida orci. Suspendisse imperdiet ex vel lacus imperdiet mollis. Sed feugiat enim sed eros interdum, […]</p>
                      </div>
                      <div class="ProductBox-btn">
                         <div class="readbtn">
                            <a (click)="singleblog()" class="hvr-shutter-in-vertical" id="readmore">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                         </div>
                      </div>
                   </div>
                </div>
                <!--  ==========BLOG END========== -->
                <div class="BlogMain">
                   <div class="BlogFullImg">
                      <a (click)="singleblog()"><img src="assets/images/b5.jpg" class="img-fluid wd100" alt="Image"></a>
                   </div>
                   <div class="blog-preview_info">
                      <ul>
                         <li><i class="fa fa-user"></i>posted by <a href="#" >Blog Themes</a></li>
                         <li><i class="fa fa-comments"></i><a href="#" >5 Comments</a></li>
                         <li><i class="fa fa-calendar"></i><time datetime="2015-10-04T07:17:52+00:00" class="entry-date published">January 04, 2016</time></li>
                      </ul>
                      <h4 class="blog-preview_title"><a href="#">Pellentesque habitant morbi</a></h4>
                      <div class="blog-preview_desc">
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et mi vulputate gen vehicula maximus sagittis rhoncus tortor. Class aptent taciti sociosqu ad litora torquent perconubia nostra, per inceptos himenaeos. Sed vel nisi orci. Pellentesque sed dignissim dolor, sit amet gravida orci. Suspendisse imperdiet ex vel lacus imperdiet mollis. Sed feugiat enim sed eros interdum, […]</p>
                      </div>
                      <div class="ProductBox-btn">
                         <div class="readbtn">
                            <a (click)="singleblog()" class="hvr-shutter-in-vertical" id="readmore">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <!-- ==========COLUMN EIGHT END====== -->
             <div class="col-md-4 col-sm-4 col-12">
                <div class="MainSideBar">
                   <div class="SideSearch">
                      <form role="search" method="get" action="">
                         <div class="blog-serchBox">
                            <div class="blog-search-grid">
                               <input type="search" name="s" placeholder="Search"> 
                               <button type="submit" value=""><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                         </div>
                      </form>
                   </div>
                   <!-- ======SERCH END==== -->
                   <div class="SideSearch">
                      <div class="CategoryULBox">
                         <div class="rightside-title">
                            <h6>Blog Category</h6>
                         </div>
                      </div>
                      <ul class="CategoryUL">
                         <li class="cat-item"><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Business</a></li>
                         <li class="cat-item"><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Buying Properties</a></li>
                         <li class="cat-item"><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Construction</a></li>
                         <li class="cat-item"><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Location</a></li>
                         <li class="cat-item"><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Real Estate</a></li>
                      </ul>
                   </div>
                   <!--  ======CATEGORY END===== -->
                   <div class="SideSearch">
                      <div class="widget-top">
                         <div class="rightside-title">
                            <h6>Latest Posts</h6>
                         </div>
                      </div>
                      <div class="post-col sk-first-post">
                         <div class="post-col-img"> <a href="#"><img width="85" height="66" src="assets/images/b7.jpg" class="img-responsive" alt="Image"></a>
                         </div>
                         <div class="post-col-content">
                            <a href="#">
                               <p class="latest-title">6 Questions to ask sublet your NYC</p>
                            </a>
                            <p class="latest-date"><span><i class="fa fa-calendar-o" aria-hidden="true"></i>
                               <a href="#">October, 24 2019</a> </span>
                            </p>
                         </div>
                      </div>
                      <div class="post-col">
                         <div class="post-col-img"> <a href="#"><img width="85" height="66" src="assets/images/b5.jpg" class="img-responsive" alt="Image"></a>
                         </div>
                         <div class="post-col-content">
                            <a href="#">
                               <p class="latest-title">6 Questions to ask sublet your NYC</p>
                            </a>
                            <p class="latest-date"><span><i class="fa fa-calendar-o" aria-hidden="true"></i>
                               <a href="#">October, 24 2019</a> </span>
                            </p>
                         </div>
                      </div>
                      <div class="post-col">
                         <div class="post-col-img"> <a href="#"><img width="85" height="66" src="assets/images/b6.jpg" class="img-responsive" alt="Image"></a>
                         </div>
                         <div class="post-col-content">
                            <a href="#">
                               <p class="latest-title">6 Questions to ask sublet your NYC</p>
                            </a>
                            <p class="latest-date"><span><i class="fa fa-calendar-o" aria-hidden="true"></i>
                               <a href="#">October, 24 2020</a> </span>
                            </p>
                         </div>
                      </div>
                   </div>
                   <!--  =========END LATEST POST======= -->
                   <div class="BlogSocial">
                      <div class="footer-social">
                         <div class="middle-top">
                            <ul>
                               <li><a href="https://www.facebook.com/BeingGouravETITS/"><img src="assets/images/social-facebook.jpg" class="img-fulid"></a></li>
                               <li><a href="https://twitter.com/beinggourav_com"><img src="assets/images/social-twitter.jpg" class="img-fulid"></a></li>
                               <li><a href="https://www.linkedin.com/company/beinggourav/?viewAsMember=true"><img src="assets/images/social-linkedin.jpg" class="img-fulid"></a></li>
                               <li><a href="https://www.instagram.com/beinggourav/"><img src="assets/images/insta.jpg" class="img-fulid"></a></li>
                               <li><a href="https://www.youtube.com/channel/UCUTlgKrzGsIaYR-Hp0RplxQ?app=deskto"><img src="assets/images/social-youtube.png" class="img-fulid"></a></li>
                            </ul>
                         </div>
                      </div>
                   </div>
                   <div class="SideSearch">
                      <div class="widget-top">
                         <div class="rightside-title">
                            <h6>Instagram Feeds</h6>
                         </div>
                      </div>
                      <div class="row">
                         <div class="col-md-3 InstaFeeds">
                            <a href="#"><img src="assets/images/b7.jpg" class="img-responsive" alt="Image"></a>
                         </div>
                         <div class="col-md-3 InstaFeeds">
                            <a href="#"><img src="assets/images/b5.jpg" class="img-responsive" alt="Image"></a>
                         </div>
                         <div class="col-md-3 InstaFeeds">
                            <a href="#"><img src="assets/images/b6.jpg" class="img-responsive" alt="Image"></a>
                         </div>
                         <div class="col-md-3 InstaFeeds">
                            <a href="#"><img src="assets/images/b5.jpg" class="img-responsive" alt="Image"></a>
                         </div>
                         <div class="col-md-3 InstaFeeds">
                            <a href="#"><img src="assets/images/b7.jpg" class="img-responsive" alt="Image"></a>
                         </div>
                         <div class="col-md-3 InstaFeeds">
                            <a href="#"><img src="assets/images/b7.jpg" class="img-responsive" alt="Image"></a>
                         </div>
                         <div class="col-md-3 InstaFeeds">
                            <a href="#"><img src="assets/images/b6.jpg" class="img-responsive" alt="Image"></a>
                         </div>
                      </div>
                   </div>
                   <!--  =========END LATEST POST======= -->
                   <div class="banner-widget">
                      <a href="#"><img src="assets/images/getblog.jpg" class="img-fulid" alt=""></a>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!--===========BLOG SECTION END==============-->
