 <!-- ===============MAIN BANNER START ============ -->
 <section class="minibanner" style="background-image: url('assets/images/min-banner.jpg');">
    <div class="container">
       <div class="row">
          <div class="col-md-12 col-sm-12 col-12">
             <div class="MiniBannerDiv" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
                <div class="MiniBannerContent">
                   <hr class="BeforeHr">
                   <h5>Vision</h5>
                   <hr class="afterforeHr">
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- =====MAIN BANNER end======= -->
 <!-- =====VISION Section======= -->
<section class="about-section ptop pbottom" style="background: url('assets/images/map2.png'); ">
    <div class="container">
         <div class="headein_top">
                <h2>Vision <span> and mission</span></h2>
             </div>
             <div class="row">
          <div class="col-md-6 col-12 col-sm-12">
             <div class="inner-columnpara">
                <h1>What Else Do I Need To Keep In Mind?</h1>
                <p> If your dry product weight has different size options, you need to consider how dense of a product you have. The more dense your product is, the smaller the container it will fit in.</p>
                <p> Likewise, the less dense your product is, the larger the container you will need for it. Another rule of thumb is that the cleaner the grower of the product, the less dense your product will be.</p>
             
             </div>
          </div>
          <div class="image-column col-12 col-md-6 col-sm-6">
             <div class="AboutImg">
                <div class="AbTBox" data-aos="fade-up"data-aos-easing="linear"
                   data-aos-duration="1500">
                   <a data-fancybox="gallery" href="assets/images/image-5.jpg" class="img-fluid" alt="Image">
                   <img src="assets/images/image-5.jpg" class="img-fluid" alt="Image">
                   </a>
                </div>
                <div class="AbTBox" data-aos="fade-up" data-aos-easing="linear"
                   data-aos-duration="1700">
                   <a data-fancybox="gallery" href="assets/images/image-6.jpg" class="img-fluid" alt="Image">
                   <img src="assets/images/image-6.jpg" class="image2" alt="Image">
                   </a>
                </div>
                <div class="video-link" data-aos="fade-up" data-aos-easing="linear"
                   data-aos-duration="1800"
                   data-aos-anchor-placement="center-center">
                   <a href="https://www.youtube.com/watch?v=e_WOEL6F1YE" class="link" data-fancybox="gallery" data-caption="">
                   <i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- =====VISION Section======= --> 
       <!-- =====VISION Section======= -->
<section class="about-section ptop pbottom" style="background: url('assets/images/map2.png'); ">
    <div class="container">
         <div class="headein_top">
                <h2>Vision <span> and mission</span></h2>
             </div>
             <div class="row">
       
          <div class="image-column col-12 col-md-6 col-sm-6">
             <div class="AboutImg mr50">
                <div class="AbTBox" data-aos="fade-up"data-aos-easing="linear"
                   data-aos-duration="1500">
                   <a data-fancybox="gallery" href="assets/images/image-5.jpg" class="img-fluid" alt="Image">
                   <img src="assets/images/image-5.jpg" class="img-fluid" alt="Image">
                   </a>
                </div>
                <div class="AbTBox" data-aos="fade-up" data-aos-easing="linear"
                   data-aos-duration="1700">
                   <a data-fancybox="gallery" href="assets/images/image-6.jpg" class="img-fluid" alt="Image">
                   <img src="assets/images/image-6.jpg" class="image2" alt="Image">
                   </a>
                </div>
                <div class="video-link" data-aos="fade-up" data-aos-easing="linear"
                   data-aos-duration="1800"
                   data-aos-anchor-placement="center-center">
                   <a href="https://www.youtube.com/watch?v=e_WOEL6F1YE" class="link" data-fancybox="gallery" data-caption="">
                   <i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
                </div>
             </div>
          </div>

             <div class="col-md-6 col-12 col-sm-12">
             <div class="inner-columnpara">
                <h1>What Else Do I Need To Keep In Mind?</h1>
                <p> If your dry product weight has different size options, you need to consider how dense of a product you have. The more dense your product is, the smaller the container it will fit in.</p>
                <p> Likewise, the less dense your product is, the larger the container you will need for it. Another rule of thumb is that the cleaner the grower of the product, the less dense your product will be.</p>
             
             </div>
          </div>
       </div>
    </div>
 </section>
