<!-- ===============MAIN BANNER START ============ -->
<section class="minibanner" style="background-image: url('assets/images/min-banner.jpg');">
    <div class="container">
       <div class="row">
          <div class="col-md-12 col-sm-12 col-12">
            <div class="MiniBannerDiv" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
             <div class="MiniBannerContent">
                <hr class="BeforeHr">
                <h5>Buy Book</h5>
                <hr class="afterforeHr">
             </div>
           
          </div>
        </div>
       </div>
    </div>
 </section>
<!-- =====MAIN BANNER end======= -->
<!-- =====buy book Section======= -->
<section class="Buy_booksectn">
 <div class="container">
    <div class="MianHeadingContent text-center pb-5">
     <div class="headein_top headingCenter">
         <h2>Popular  <span> Books</span></h2>
      </div>
    </div>

    <div class="Book_main" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
    <div class="row">
       <div class="col-md-10">
          <div class="book_left" style="background-image: url('assets/images/bookmg1.jpg')">
             <div class="book_right">
                <div class="Book_contnt">
                 <div class="headein_top headingCenter">
                   <h2>Being Gaurav  <span> Books</span></h2>
                 </div>
                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, doloribus, accusamus. Commodi voluptas, aliquam corporis dolorem amet? Asperiores ullam consequatur dolores.</p>
                   <div class="Price_div">
                      <span>$100.00</span>
                      <div class="right-top ">
                         <a href="#" class="hvr-shutter-in-vertical">Buy now</a>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
   </div>

   <div class="Book_main" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
       <div class="row">
          <div class="col-md-10 offset-2">
             <div class="book_left" style="background-image: url('assets/images/bookimg2.jpg')">
                <div class="book_right Second_right">
                   <div class="Book_contnt">
                     <div class="headein_top headingCenter">
                   <h2>Being Gaurav  <span> Books</span></h2>
                 </div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, doloribus, accusamus. Commodi voluptas, aliquam corporis dolorem amet? Asperiores ullam consequatur dolores.</p>
                      <div class="Price_div">
                         <span>$100.00</span>
                         <div class="right-top ">
                            <a href="#" class="hvr-shutter-in-vertical">Buy now</a>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
      </div>
      
 </div>
</section>
<!-- =====buy book Section======= --> 

 <!-- ======================GET IN TOUCH SECTION START======= -->

 <!-- ======================GET IN TOUCH SECTION END======= -->
